<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                      <div class="mb-3">
                        <h1 class="text-dark text-muted">Register</h1>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="something@example.com"
                        [(ngModel)]="email"
                        [style.border-color]="checkEmail()">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="password123!"
                        style="border-color: black"
                        [(ngModel)]="password">
                      </div>
                      <button type="button" class="btn btn-primary" (click)="register()">Register</button>
                      <div class="row">
                        <div class="col-md-6">
                          <a href="/login" style="text-decoration: none;">Already have an account?</a>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
